
#gameContainer {
    background-image: url(bkg.png);
      position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto; 
     -moz-border-radius: 1%;
	-webkit-border-radius: 1%;
	border-radius: 1%;
    
}
#userTname{
        background-image: url(gamebkg.png);

      position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto; 
     -moz-border-radius: 1%;
	-webkit-border-radius: 1%;
	border-radius: 1%;
    
    
}


#end{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 45%;
    
}
#username{
    color: aliceblue;
    font-size: 20px;
    position: absolute;
    top: 2%;
    left: 5%;
    
}
#alluser{
    position: absolute;
    top: 8px;
    right: 45px;
      color: aliceblue;
    font-size: 20px;
}
#score{
     color: aliceblue;
    font-size: 20px;
    position: absolute;
    top: 8%;
    left: 5%;
    
}
.nameText{
    width:30%;
    height: 50px;
     position: absolute;
    top: 45%;
    right: 35%;
}

.joinGame{
    width:15%;
    height: 7%;
     position: absolute;
    top: 60%;
    right: 40%;
     color:white;
    background-color:brown;
    border: 2px solid brown;

}

