.App {
  text-align: center;
}

#display {
    position:fixed;
    background-color:white;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    cursor:none;
}

#controls {
    position:fixed;
    bottom:0;
    right:0;
    width:30vw;
    height:50px;
    background-color:rgba(44, 51, 14, 0.867);
}

#myImg {
    position:absolute;
}

.allImgs {
    position:absolute;
}